@layer base {
	* {
		box-sizing: border-box;
	}

	:root {
		-webkit-font-smoothing: antialiased;
		tab-size: 4;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
		text-size-adjust: 100%;

		--Canvas: color(srgb 1 1 1);
		--CanvasText: color(srgb 0.21 0.22 0.25);
		--AccentText: color(srgb 0.1 0.4 0.7);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--Canvas: color(srgb 0.08 0.08 0.10);
			--CanvasText: color(srgb 0.78 0.79 0.80);
			--AccentText: color(srgb 0.40 0.65 0.95);
		}
	}

	html {
		font: 100%/1.5 system-ui;
		background-color: var(--Canvas);
		color: var(--CanvasText);
		color-scheme: light dark;
	}

	body {
		margin: 0;
		padding-inline: max(1rem, 50% - 27rem);
	}

	a[href]:not([class]) {
		color: var(--AccentText);
		text-underline-offset: 0.125em;
	}

	h4:has(+ pre) {
		/* Layout */
		margin-block: 3rem 0;
		/* Text */
		font-size: 1rem;
	}
}
